header {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  text-align: center;
}

h1 {
  margin: 10px;
}

.profile-btn, .search-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: 5px;
  padding-top: 10px;
}

.filter {
  margin-left: 10px;
  margin-right: 10px;
}

.input-search-bar {
  border: none;
  box-shadow: 1px 1px 5px;
  margin: 5px;
}

img {
  margin: 0;
  width: 30px;
}
