header {
  background-color: rgba(255, 255, 255, 0.842);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1 {
  margin: 10px;
}

.profile-btn, .search-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 5px;
  padding: 10px;
}

img {
  margin: 0;
  width: 30px;
}
