* {
  text-align: center;
}

.login-page {
  background: rgba(0, 0, 0, 0.377) url('https://i.pinimg.com/originals/d9/ac/bb/d9acbbfd40e321880d5398010f15537f.jpg');
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.logo {
  margin-top: 150px;
  width: 250px;
}

.login-input {
  background: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 30px;
}

.login-btn {
  background: #ffde59da;
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 30px;
}
